<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="login-container">
    <h2>Login</h2>
    <button onclick="login()">Iniciar sesión con Keycloak</button>

    <script>
        function login() {
            // Redirigir al servidor de autorización de Keycloak
            window.location.href = 'URL_DEL_SERVIDOR_DE_KEYCLOAK/realms/TU_REALM/protocol/openid-connect/auth?client_id=CLIENT_ID&redirect_uri=URL_DE_REDIRECCION&response_type=code&scope=openid';
        }
    </script>
  </div>
</body>

</html>